<div class="container-xxl mt-1">
  <div class="p-5 bg-success-subtle text-center">
    <h1>{{ welcomeMessage }}</h1>
    <!-- <h1>{{ "Text interpolations" }}</h1>
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <h3>{{ "Something" }}</h3>
    <div [innerHTML]="propertyBinding"></div>
    <p [innerText]="propertyDescription"></p>
    <button [disabled]="disabledButton" [ngClass]="btnClass" class="btn">
     {{disabledButton ? 'Disabled' : 'Enabled'}}
    </button>
    <div>
      <input type="text" (input)="getInputValue($event)" >
      <p>{{inputValue}}</p>
    </div>
    <div>
      <input type="text" [(ngModel)]="inputValue" [style.border]="styles" >
      <p>{{inputValue}}</p>
    </div> -->
    <button class="btn btn-primary" (click)="showFun($event)">Show</button>
    <div *ngIf="show" >
      A structural directive that conditionally includes a template based on the value of an expression coerced to Boolean. When the expression evaluates to true, Angular renders the template provided in a then clause, and when false or null, Angular renders the template provided in an optional else clause. The default template for the else clause is blank.
    </div>
    <!-- <ul>
      <li *ngFor="let name of names">{{name}}</li>
    </ul> -->
  </div>
</div>
