<div class="modal fade show" style="display: block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">404 Page Not Found</h1>
      </div>
      <div class="modal-body">
        Unfortunately the page you are looking for has been moved or deleted
      </div>
      <div class="d-grid col-6 mx-auto mb-3">
        <button type="button" routerLink="/" class="btn btn-primary">Go Back to Home</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>
