<div class="col">
  <div class="card">
    <img
      src="{{ movieImage }}"
      class="card-img-top"
      alt="..."
      (error)="defaultImage($event)"
    />
    <div class="card-body">
      <h5 class="card-title">{{ movie.original_title | uppercase }}</h5>
      <p class="card-text">
        {{ movie.overview | shorten : 15 }}
      </p>
      <p class="card-text">
        {{ "release date" | titlecase }}: {{ movie.release_date | date }}
      </p>
      <a (click)="watchNow(movie)" class="btn btn-primary"
        >Watch or More Details</a
      >
    </div>
  </div>
</div>
