<div class="container mt-2">
  <div class="d-flex justify-content-center my-5 py-5" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <div class="card col-8 col-lg-6 mx-auto border-0 shadow mt-5" *ngIf="!isLoading">
    <div class="card-body">
      <form
        class="row g-1 g-lg-2 "
        (ngSubmit)="handleSubmit()"
        [formGroup]="user"
      >
        <div class="col-12">
          <div
            class="text-center fs-3 fw-bold border-bottom border-3 border-dark pb-2"
          >
            Sign Up
          </div>
        </div>
        <div class="col-12" *ngIf="error">
          <div class="text-center alert alert-danger">
            {{ error }}
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
              placeholder="User Name"
            />
            <label for="username">User Name</label>
            <div
              *ngIf="
                user.get('username')?.invalid && user.get('username')?.touched
              "
            >
              <span
                class="form-text text-danger"
                *ngIf="user.get('username')?.errors?.['required']"
                >Please enter your user name</span
              >
              <span
                class="form-text text-danger"
                *ngIf="user.get('username')?.errors?.['minlength']"
                >Your User name not less than 4 characters!</span
              >
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control"
              placeholder="Phone"
            />
            <label for="phone">Phone</label>
            <div
              *ngIf="user.get('phone')?.invalid && user.get('phone')?.touched"
            >
              <span
                class="form-text text-danger"
                *ngIf="user.get('phone')?.errors?.['required']"
                >Please enter your phone number!</span
              >
              <span
                class="form-text text-danger"
                *ngIf="user.get('phone')?.errors?.['minlength'] || user.get('phone')?.errors?.['maxlength']"
                >Your phone number not greater than 10 digits or not less than
                10 digits!</span
              >
              <span
                class="form-text text-danger"
                *ngIf="user.get('phone')?.errors?.['pattern']"
                >Please enter valid phone number!</span
              >
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="Email"
            />
            <label for="email">Email</label>
            <div
              *ngIf="user.get('email')?.invalid && user.get('email')?.touched"
            >
              <span
                class="form-text text-danger"
                *ngIf="user.get('email')?.errors?.['required']"
                >Please enter mail id!</span
              >
              <span
                class="form-text text-danger"
                *ngIf="user.get('email')?.errors?.['email']"
                >Please enter valid mail id!</span
              >
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <input
              type="text"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
            />
            <label for="password">Password</label>
            <div
              *ngIf="
                user.get('password')?.invalid && user.get('password')?.touched
              "
            >
              <span
                class="form-text text-danger"
                *ngIf="user.get('password')?.errors?.['required']"
                >Please provide your password!</span
              >
              <span
                class="form-text text-danger"
                *ngIf="user.get('password')?.errors?.['pattern']"
                >Your password must be 6-20 characters long, contain letters and
                one uppercase, numbers and special characters!</span
              >
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
            />
            <label for="confirmPassword">Confirm Password</label>
            <div
              *ngIf="
                user.get('confirmPassword')?.invalid &&
                user.get('confirmPassword')?.touched
              "
            >
              <span
                class="form-text text-danger"
                *ngIf="user.get('confirmPassword')?.errors?.['required']"
                >Please enter Confirm Password!</span
              >
            </div>
            <div
              class="form-text text-danger"
              *ngIf="
                user.get('confirmPassword')?.touched &&
                user.hasError('doesNotMatch')
              "
            >
              Password and Confirm password does not match!
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="d-grid col-6 col-lg-4 gap-1 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
