<div class="container">
  <div class="d-flex justify-content-center my-5 py-5" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <div
    class="card col-6 col-lg-5 mx-auto border-0 shadow mt-5"
    *ngIf="!isLoading"
  >
    <div class="card-body">
      <form
        class="d-flex flex-column gap-3"
        [formGroup]="loginCredential"
        (ngSubmit)="handleSubmit()"
      >
        <div
          class="text-center fs-3 fw-bold border-bottom border-3 border-dark pb-2"
        >
          Login
        </div>

        <div  *ngIf="error" class="text-center alert alert-danger">
          {{ error }}
        </div>

        <div>
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
        </div>
        <div>
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
